/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #e1e9fa;
  background-color: #e1e9fa; }

.reveal {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 31px;
  font-weight: normal;
  color: #2e3038; }

::selection {
  color: #fff;
  background: #071448;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 50px 0;
  color: #071448;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 2em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #268bd2;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #73b5e4;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a6091; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #2e3038;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #268bd2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #268bd2; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #268bd2; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #268bd2; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #268bd2; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #73b5e4; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #73b5e4; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #73b5e4; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #73b5e4; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #268bd2;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal p, .reveal ul, .reveal ol, .reveal td {
  font-weight: 300; }
.reveal blockquote {
  box-shadow: none;
  font-size: 0.8rem;
  line-height: 1.8; }
.reveal p, .reveal ul, .reveal ol {
  line-height: 1.8; }
.reveal table, .reveal th {
  font-weight: 400; }
.reveal .slides {
  text-align: left; }
.reveal em {
  font-style: normal;
  font-weight: 400;
  color: #1942e6; }
.reveal section img {
  display: block;
  margin: 15px auto;
  border: 0px; }
.reveal table {
  margin: 0px; }

::selection {
  background: #071448;
  color: #e1e9fa; }

::-moz-selection {
  background: #071448;
  color: #e1e9fa; }

.terminal .reveal .controls .navigate-down, .terminal .reveal .controls .navigate-down.enabled {
  border-top-color: #e1e9fa; }
.terminal .reveal .controls .navigate-right, .terminal .reveal .controls .navigate-right.enabled {
  border-left-color: #e1e9fa; }
.terminal .reveal .controls .navigate-up, .terminal .reveal .controls .navigate-up.enabled {
  border-bottom-color: #e1e9fa; }
.terminal .reveal .controls .navigate-left, .terminal .reveal .controls .navigate-left.enabled {
  border-right-color: #e1e9fa; }

.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
  border-top-color: #071448;
  transition: border-top-color 0.5s, opacity 0.5s; }
  .reveal .controls .navigate-down:hover, .reveal .controls .navigate-down.enabled:hover {
    border-top-color: #d8d8eb; }
.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
  border-left-color: #071448;
  transition: border-left-color 0.5s, opacity 0.5s; }
  .reveal .controls .navigate-right:hover, .reveal .controls .navigate-right.enabled:hover {
    border-left-color: #d8d8eb; }
.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
  border-bottom-color: #071448;
  transition: border-bottom-color 0.5s, opacity 0.5s; }
  .reveal .controls .navigate-up:hover, .reveal .controls .navigate-up.enabled:hover {
    border-bottom-color: #d8d8eb; }
.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
  border-right-color: #071448;
  transition: border-right-color 0.5s, opacity 0.5s; }
  .reveal .controls .navigate-left:hover, .reveal .controls .navigate-left.enabled:hover {
    border-right-color: #d8d8eb; }

.terminal .reveal .slides section p, .terminal .reveal .slides section h1, .terminal .reveal .slides section h2, .terminal .reveal .slides section h3, .terminal .reveal .slides section h4, .terminal .reveal .slides section h5, .terminal .reveal .slides section h6 {
  color: #e1e9fa; }
.terminal .reveal .slides section a {
  background-color: #e1e9fa; }

.terminal .reveal .progress span {
  background-color: #e1e9fa;
  transition: background-color 0.5s; }

.reveal pre {
  box-shadow: none;
  font-size: 1em;
  font-family: "Monaco", "Consolas", monospace;
  margin: 0px; }
  .reveal pre code {
    overflow: visible;
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }

.hljs {
  display: block;
  padding: 0.5em;
  color: #2e3038;
  -webkit-text-size-adjust: none; }

.hljs-keyword,
.hljs-tag,
.css .hljs-class,
.css .hljs-id,
.lisp .hljs-title,
.nginx .hljs-title,
.hljs-request,
.hljs-status,
.clojure .hljs-attribute {
  color: #b58900; }

.django .hljs-template_tag,
.django .hljs-variable,
.django .hljs-filter .hljs-argument {
  color: #dcdcdc; }

.hljs-number,
.hljs-date {
  color: #071448; }

.dos .hljs-envvar,
.dos .hljs-stream,
.hljs-variable,
.apache .hljs-sqbracket,
.hljs-name {
  color: #efdcbc; }

.dos .hljs-flow,
.diff .hljs-change,
.python .exception,
.python .hljs-built_in,
.hljs-literal,
.tex .hljs-special {
  color: #efefaf; }

.diff .hljs-chunk,
.hljs-subst {
  color: #8f8f8f; }

.dos .hljs-keyword,
.hljs-decorator,
.hljs-title,
.diff .hljs-header,
.ruby .hljs-class .hljs-parent,
.apache .hljs-tag,
.nginx .hljs-built_in,
.tex .hljs-command,
.hljs-prompt {
  color: #071448; }

.hljs-type {
  color: #b730a2; }

.dos .hljs-winutils,
.ruby .hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.ruby .hljs-string {
  color: #b58900; }

.diff .hljs-deletion,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.smalltalk .hljs-class,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.css .hljs-rule .hljs-value,
.hljs-attr_selector,
.hljs-pseudo,
.apache .hljs-cbracket,
.tex .hljs-formula,
.coffeescript .hljs-attribute {
  color: #b58900; }

.hljs-shebang,
.diff .hljs-addition,
.hljs-comment,
.hljs-annotation,
.hljs-pi,
.hljs-doctype {
  color: #7f9f7f; }

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5; }
